<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/login.css">
  <script src="https://kit.fontawesome.com/bfbbbf4758.js" crossorigin="anonymous"></script>
</head>

<body><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <section class="vh-70 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Cropzzz</h2>
                    <p class="text-white-50 wh mb-5">Please enter the details </p>
    
                    <form action="/model" method="post">
                    <div class="form-outline la form-floating form-white mb-4">
                      <input type="text" autocomplete="off" id="state" class="form-control form-control-lg" name="state"/>
                      <label class="form-label" for="state">State</label>
                    </div>

                    <div class="form-outline la form-floating  form-white mb-4">
                      <input type="text" autocomplete="off" id="district" class="form-control form-control-lg" name="district"/>
                      <label class="form-label" for="district">District</label>
                    </div>

                    <div class="form-outline la form-floating  form-white mb-4">
                      <input type="number"  steps="any" id="nitrogen" class="form-control form-control-lg" name="n"/>
                      <label class="form-label" for="nitrogen">Nitrogen</label>
                    </div>

                    <div class="form-outline la form-floating  form-white mb-4">
                      <input type="number" steps="any" id="potassium" class="form-control form-control-lg" name="k"/>
                      <label class="form-label" for="potassium">Potassium</label>
                    </div>

                    <div class="form-outline la form-floating  form-white mb-4">
                      <input type="number" steps="any" id="phosphorus" class="form-control form-control-lg" name="p"/>
                      <label class="form-label" for="phosphorus">Phosphorus</label>
                    </div>

                    <div class="form-outline la form-floating  form-white mb-4">
                      <input type="number" steps="any" id="ph" class="form-control form-control-lg" name="ph"/>
                      <label class="form-label" for="ph">Ph-Value of Soil</label>
                    </div>
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Evaluate</button>
                  </form>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>
